body, .MuiTypography-root, button, .MuiButton-root {
  font-family: 'EB Garamond', 'Garamond', 'Cormorant Garamond', serif !important;
}

body {
  font-size: 1.125rem !important;
  /* background-color: #f8f0e5 !important; */
}

button, .MuiButton-root {
  font-size: 1rem !important;
}

button, .MuiButton-root {
  text-transform: none !important;
}

h1.MuiTypography-root {
  font-size: 3rem !important;
}

h2.MuiTypography-root {
  font-size: 2rem !important;
}

h3.MuiTypography-root {
  font-size: 1.5rem !important;
}

.MuiTypography-body1 {
  font-size: 1.125rem !important;
}

a, .MuiLink-root {
  color: blue !important;
}

pre, code, .hljs {
  font-family: ui-monospace, 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace !important;
  font-size: 0.9rem !important;
}